<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo"> Inicio
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" (keyup.enter)="searchImage(search.value)" #search type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="button" (click)="searchImage(search.value)">Buscar</button>
        </div>
    </div>
</nav>